// Variables - Grid
$base-font-size: 16px;
$columns: 12;
$row-width: 1000px;

/// Breakpoint - Extra Extra Small
/// @type Number
/// @group responsive
$bp--xxs: 320px;
$mq--xxs-min: (min-width: $bp--xxs);
$mq--xxs-max: (max-width: $bp--xxs - 1);

/// Breakpoint - Extra Small
/// @type Number
/// @group responsive
$bp--xs: 480px;
$mq--xs-min: (min-width: $bp--xs);
$mq--xs-max: (max-width: $bp--xs - 1);

/// Breakpoint - Small
/// @type Number
/// @group responsive
$bp--sm: 768px;
$mq--sm-min: (min-width: $bp--sm);
$mq--sm-max: (max-width: $bp--sm - 1);

/// Breakpoint - Medium
/// @type Number
/// @group responsive
$bp--sm-to-md: 896px;
$mq--sm-to-md-min: (min-width: $bp--sm-to-md);
$mq--sm-to-md-max: (max-width: $bp--sm-to-md - 1);

/// Breakpoint - Medium
/// @type Number
/// @group responsive
$bp--md: 1024px;
$mq--md-min: (min-width: $bp--md);
$mq--md-max: (max-width: $bp--md - 1);

/// Breakpoint - Large
/// @type Number
/// @group responsive
$bp--lg: 1280px;
$mq--lg-min: (min-width: $bp--lg);
$mq--lg-max: (max-width: $bp--lg - 1);

/// Breakpoint - Extra Large
/// @type Number
/// @group responsive
$bp--xl: 1440px;
$mq--xl-min: (min-width: $bp--xl);
$mq--xl-max: (max-width: $bp--xl - 1);

/// Breakpoint - Extra Extra Large
/// @type Number
/// @group responsive
$bp--xxl: 1600px;
$mq--xxl-min: (min-width: $bp--xxl);
$mq--xxl-max: (max-width: $bp--xxl - 1);

/// Breakpoints map
/// @prop {String} name - Breakpoint name
/// @prop {Map} query - Breakpoint query
/// @group responsive
/// @see {mixin} mq
$breakpoints: ("xxs": $mq--xxs-min, "xxs-max": $mq--xxs-max, "xs": $mq--xs-min, "xs-max": $mq--xs-max, "sm": $mq--sm-min, "sm-max": $mq--sm-max, "sm-to-md": $mq--sm-to-md-min, "sm-to-md-max": $mq--sm-to-md-max, "md": $mq--md-min, "md-max": $mq--md-max, "lg": $mq--lg-min, "lg-max": $mq--lg-max, "xl": $mq--xl-min, "xl-max": $mq--xl-max, "xxl": $mq--xxl-min, "xxl-max": $mq--xxl-max) !default;

// Variables - Colours
$colour--blue-light: #cfe8eb;
$colour--blue: #3e4459;
$colour--blue-dark: #2C313F;
$colour--cream: #FFFED6;
$colour--grey: #ccc;
$colour--grey-dark: #696969;
$colour--sand: #B2B04F;
$colour--yellow: #fffc8a;
$colour--white: #f5f5f5;

// Functions
@function rem($px-size) {
	$rem-size: strip-unit($px-size / $base-font-size);
	@return $rem-size * 1rem;
}

@function strip-unit($number) {
	@if type-of($number) == "number" and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}
	@return $number;
}

// Mixins
@mixin sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	// Allow the element to be focusable
	// when navigated to via the keyboard
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@mixin mq($breakpoint) {
	$query: map-get($breakpoints, $breakpoint);

	@if not $query {
		@error "No value found for `#{$breakpoint}`. Please make sure it is defined in either the `$kp-breakpoints` or `$kp-tweakpoints` maps.";
	}

	@media screen and #{if(type-of($query) == "string", unquote($query), inspect($query))} {
		@content;
	}
}

@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}

	@else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

@mixin reset-list($reset-style: false, $float: false) {
	margin: 0;
	padding: 0;

	@if $reset-style {
		list-style: none;
	}

	@if $float {
		overflow: hidden;
	}

	li {
		@if $float {
			float: left;
		}
	}
}

@mixin fen-row {
	@include row;
	@include outer-container(rem($row-width));
	padding-left: rem(10px);
	padding-right: rem(10px);
	position: relative;
}

@mixin narrow {
	margin-left: auto;
	margin-right: auto;
	max-width: rem(700px);
	padding-left: rem(10px);
	padding-right: rem(10px);
}

// Grid
.row {
	@include fen-row;
}

.col {
	@include span-columns($columns);
	float: left;
	margin-right: 0;
	position: relative;
	$i: 1;

	@each $b, $value in $breakpoints {
		@include mq($b) {
			@while $i <= $columns {
				$perc: unquote(100 / ($columns / $i) + "%");

				&.#{$b}#{$i} {
					@include span-columns($i);
				}

				&.offset-#{$b}#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}
		}

		$i: 1;
	}

	&:last-child {
		@include omega;
	}
}

// Font Face
@font-face {
	font-family: 'Source Sans Pro';
	src: url("../fonts/SourceSansPro-Light.eot"); /* IE9 Compat Modes */
	src: url("../fonts/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.ttf") format("truetype"), url("../fonts/SourceSansPro-Light.svg#dd3b7a876484172d97db2422648cdc50") format("svg"); /* Legacy iOS */
	font-style: normal;
	font-weight: 200;
}


@font-face {
	font-family: 'Source Sans Pro';
	src: url("../fonts/SourceSansPro-LightIt.eot"); /* IE9 Compat Modes */
	src: url("../fonts/SourceSansPro-LightIt.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-LightIt.woff") format("woff"), url("../fonts/SourceSansPro-LightIt.ttf") format("truetype"), url("../fonts/SourceSansPro-LightIt.svg#13e57f976ba56a2a6d33307f2d3e15cc") format("svg"); /* Legacy iOS */
	font-style: italic;
	font-weight: 200;
}


@font-face {
	font-family: 'Source Sans Pro';
	src: url("../fonts/SourceSansPro-Regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"), url("../fonts/SourceSansPro-Regular.svg#acb2ff9f1528a62353501911e112e2e2") format("svg"); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}


@font-face {
	font-family: 'Source Sans Pro';
	src: url("../fonts/SourceSansPro-It.eot"); /* IE9 Compat Modes */
	src: url("../fonts/SourceSansPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-It.woff") format("woff"), url("../fonts/SourceSansPro-It.ttf") format("truetype"), url("../fonts/SourceSansPro-It.svg#7da2ff3504d480494d51d19a97688977") format("svg"); /* Legacy iOS */
	font-style: italic;
	font-weight: 400;
}


@font-face {
	font-family: 'Source Sans Pro';
	src: url("../fonts/SourceSansPro-Semibold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Semibold.woff") format("woff"), url("../fonts/SourceSansPro-Semibold.ttf") format("truetype"), url("../fonts/SourceSansPro-Semibold.svg#f7754f3658eb134b622c7e70e8b7751b") format("svg"); /* Legacy iOS */
	font-style: normal;
	font-weight: 700;
}


@font-face {
	font-family: 'Source Sans Pro';
	src: url("../fonts/SourceSansPro-SemiboldIt.eot"); /* IE9 Compat Modes */
	src: url("../fonts/SourceSansPro-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-SemiboldIt.woff") format("woff"), url("../fonts/SourceSansPro-SemiboldIt.ttf") format("truetype"), url("../fonts/SourceSansPro-SemiboldIt.svg#84ae6ea343bbb97d896abfc0921b530a") format("svg"); /* Legacy iOS */
	font-style: italic;
	font-weight: 700;
}
