// Dependencies
@import "../../bower_components/normalize-scss/_normalize.scss";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "setup";

// Helpers.
.sr-only {
	@include sr-only;
}

// General
body {
	background-color: $colour--blue;
	color: $colour--white;
	font-family: "Source Sans Pro", sans-serif;
}

a,
button {
	transition: all ease-in-out 0.3s;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

// Navigation
.navigation-wrapper {
	background-color: $colour--blue-alt;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.navigation {
	padding: rem(10px) 0;

	ul {
		@include reset-list(true);

		@include mq(md) {
			@include reset-list(true, true);
		}
	}

	li {
		display: inline-block;
		margin: 0 rem(10px);

		&:first-child {
			margin-left: 0;
		}
	}

	.right {
		float: right;
	}

	a {
		color: $colour--yellow;
		line-height: 1.5;
		text-decoration: none;

		@include on-event {
			color: #FFFED6;
		}
	}

	&.secondary {
		margin-bottom: rem(20px);

		@include mq(md) {
			margin-bottom: 0;
		}
	}
}

// Intro
.logo {
	display: block;
	margin: 0 auto;
}

// Sections
.section-wrapper.white {
	background-color: $colour--white;
	color: $colour--blue-alt;
}

.section-content {
	padding-bottom: rem(50px);
	padding-top: rem(50px);

	&.no-padding {
		padding-bottom: 0;
		padding-top: 0;
	}

	p {
		@include narrow;
		font-size: rem(24px);
		font-weight: 300;
		margin-bottom: rem(24px);

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.section-title {
	@include narrow;
	font-size: rem(36px);
	letter-spacing: 1px;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
}

// Section - Location
.venue {
	margin-bottom: rem(50px);
}

.map {
	margin-top: rem(50px);
}

// Footer
.footer-wrapper {
	background: $colour--blue-alt;
}

footer {
	font-weight: 300;
	padding-bottom: rem(20px);
	padding-top: rem(20px);
	text-align: center;

	@include mq(md) {
		text-align: left;
	}

	a {
		color: $colour--yellow;
		font-weight: 400;
		text-decoration: none;
	}
}

.social-media {
	@include reset-list(true);
	display: inline-block;

	@include mq(md) {
		float: right;
	}

	li {
		display: inline-block;
		margin: 0 rem(10px);

		@include mq(md) {
			margin: 0 0 0 rem(10px);
		}
	}

	svg {
		fill: $colour--yellow;
		transition: fill ease-in-out 0.3s;
	}

	a {
		@include on-event {
			svg {
				fill: $colour--cream;
			}
		}
	}
}

.credit {
	margin-bottom: 0;
	margin-top: rem(20px);
	text-align: center;

	span {
		font-weight: 600;
		// text-transform: uppercase;

	}
}
