// Dependencies
@import "../../bower_components/normalize-scss/_normalize.scss";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "setup";

// Helpers.
.sr-only {
	@include sr-only;
}

// General
body {
	background-color: $colour--blue;
	color: $colour--white;
	font-family: "Source Sans Pro", sans-serif;

	@include mq(sm) {
		padding-top: rem(64px);
	}
}

p {
	font-size: rem(16px);
	font-weight: 200;
	letter-spacing: 0.5px;
	line-height: 1.4;
	margin-bottom: rem(22px);

	@include mq(xs) {
		font-size: rem(20px);
		line-height: 1.5;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.smaller {
		font-size: rem(10px);

		@include mq(xs) {
			font-size: rem(14px);
			line-height: 1.2;
		}
	}
}

strong {
	font-weight: 700;
}

a,
button {
	transition: all ease-in-out 0.3s;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a:link {
	color: $colour--yellow;

	@include on-event {
		color: $colour--blue-light;
	}
}

// Navigation
.navigation-wrapper {
	background-color: $colour--blue-dark;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;

	@include mq(sm) {
		display: block;
		height: rem(64px);
		max-height: rem(64px);
	}
}

.navigation {
	position: fixed;

	@include mq(sm) {
		position: relative;
	}

	ul {
		@include reset-list(true);
	}

	li {
		display: block;
		margin: 0;

		@include mq(sm) {
			display: inline-block;
			margin: 0 rem(6px);
		}

		@include mq(md) {
			margin: 0 rem(8px);
		}

		&:first-child {
			margin-left: 0;
		}
	}

	a,
	button {
		letter-spacing: 0.5px;
		line-height: 1.5;
		font-size: rem(18px);
		text-decoration: none;

		@include on-event {
			color: $colour--blue-light;
		}

		@include mq(sm) {
			font-size: rem(12px);
		}

		@include mq(md) {
			font-size: rem(16px);
		}
	}

	&.primary {
		@include fen-row;
		padding: 0;
		text-align: center;
		text-transform: uppercase;

		@include mq(sm) {
			margin-bottom: rem(10px);
			margin-top: rem(10px);
			padding: rem(10px);
			text-align: left;
		}

		ul {
			display: table;
			width: 100%;

			@include mq(sm) {
				display: block;
			}
		}

		li {
			display: table-row;

			@include mq(sm) {
				display: inline-block;
			}
		}

		a,
		button {
			color: $colour--yellow;
			display: table-cell;
			padding: rem(8px);
			height: 10vh;
			vertical-align: middle;

			@include mq(sm) {
				display: inline-block;
				height: auto;
			}

			@include on-event {
				background-color: $colour--blue-light;
				color: $colour--blue-dark;
			}

			@include mq(sm) {
				display: inline-block;
				padding: 0;

				@include on-event {
					background-color: transparent;
					color: $colour--blue-light;
				}
			}
		}

		button {
			color: $colour--white;
			text-transform: uppercase;
			width: 100%;
		}

		.button-alt {
			@include mq(sm) {
				background-color: $colour--yellow;
				border: 1px solid black;
				border-bottom-width: 2px;
				border-radius: rem(8px);
				color: $colour--blue-dark;
				font-weight: 700;
				margin-top: -(rem(5px));
				padding: rem(5px) rem(25px);
				text-decoration: none;

				@include on-event {
					background-color: $colour--blue-light;
					color: $colour--blue-dark;
				}
			}
		}
	}

	&.secondary {
		color: $colour--yellow;
		padding: rem(15px) 0;
		margin-bottom: rem(20px);

		@include mq(md) {
			margin-bottom: 0;
		}
	}

	.right {
		@include mq(sm) {
			float: right;
		}
	}
}

// Buttons
.button,
button:not(.menu-toggle) {
	background-color: $colour--yellow;
	border-radius: rem(8px);
	box-shadow: 0 6px $colour--sand;
	display: inline-block;
	letter-spacing: 0.5px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		box-shadow: 0 4px $colour--sand;
		color: $colour--blue-dark !important; // hack
		top: 2px;
	}

	&:active {
		box-shadow: 0 0 $colour--sand;
		top: 6px;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		transition: all 0.3s;
	}

	&.cta {
		@include narrow;
		color: $colour--blue-dark;
		display: block;
		font-size: rem(24px);
		font-weight: 700;
		margin-bottom: rem(30px);
		margin-top: rem(30px);
		max-width: 93%;
		padding: rem(15px);
		transition: none;

		@include mq(xs) {
			max-width: rem(460px);
		}

		@include mq(sm) {
			margin-bottom: rem(50px);
			margin-top: rem(50px);
		}
	}

	&.disabled {
		background-color: $colour--grey;
		box-shadow: 0 6px $colour--grey-dark;
		color: $colour--blue-dark;

		@include on-event {
			cursor: not-allowed;
		}
	}
}

.menu-open {
	background-color: $colour--blue-dark;
	border: none;
	height: rem(44px);
	left: 0;
	padding: rem(5px);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 15;

	@include mq(sm) {
		display: none;
	}

	@include on-event {
		svg {
			fill: $colour--blue-light;
		}
	}

	svg {
		height: rem(34px);
		fill: $colour--white;
		transition: fill ease-in-out 0.3s;
		width: rem(34px);
	}
}

.menu-close {
	background: none;
	border: none;
	padding: 0;

	.navigation.primary & {
		@include mq(sm) {
			display: none;
		}
	}
}

// Header
header {
	background-image: url("../img/code.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-bottom: 8px solid $colour--blue-dark;
	margin-top: rem(44px);
	padding: rem(40px);
	position: relative;
	text-align: center;

	@include mq(sm) {
		margin-top: 0;
		padding: rem(80px);
	}
}

.logo {
	@include narrow;
	color: $colour--blue-light;
	font-size: rem(74px);
	font-weight: 200;
	margin: auto;
	text-align: center;
	text-shadow: 3px 3px 5px rgba(black, 0.3);

	@include mq(xs) {
		font-size: rem(88px);
	}

	@include mq(sm) {
		font-size: rem(140px);
	}

	span {
		color: $colour--yellow;
	}
}

// Sections
.section-wrapper {
	border-bottom: 4px solid $colour--blue-dark;
	border-top: 4px solid $colour--blue-dark;
	position: relative;

	&.white {
		background-color: $colour--white;
		color: $colour--blue-dark;
	}
}

.section-content {
	padding-bottom: rem(30px);
	padding-top: rem(30px);

	@include mq(sm) {
		padding-bottom: rem(50px);
		padding-top: rem(50px);
	}

	&.no-padding {
		padding-bottom: 0;
		padding-top: 0;
	}

	p {
		@include narrow;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.col p {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
		padding-left: 0;
		padding-right: 0;
	}

	p a {
		color: $colour--yellow;
		//font-weight: 700;

		@include on-event {
			color: $colour--blue-light;
		}

		.white & {
			color: $colour--blue;

			@include on-event {
				color: $colour--blue-dark;
			}
		}
	}

	> h3 {
		@include narrow;
		font-size: rem(32px);
		letter-spacing: 1px;
	}
}

.section-title {
	@include narrow;
	font-size: rem(32px);
	font-weight: 700;
	letter-spacing: 1.5px;
	margin-top: 0;
	text-align: center;
	//text-transform: uppercase;

	@include mq(sm) {
		font-size: rem(36px);
	}
}

.section-about-title {
	font-size: rem(38px);

	@include mq(sm) {
		font-size: rem(48px);
	}
}

// Section - About
.strapline {
	@include narrow;
	font-size: rem(22px);
}

.section-about-content {
	padding-bottom: 0;
}

.section-about-wrapper {
	border: 0;
}

// Section - Speakers
.section-speakers-wrapper {
	border-top: 0;
}

.section-speakers-content {
	padding-top: rem(20px);
}

.speakers-headline-title,
.speakers-lightning-title {
	@include narrow;
	letter-spacing: 3px;
	margin-bottom: rem(20px);
	margin-top: rem(50px);
	text-align: center;
	text-transform: uppercase;
}

.speakers-headline-title {
	font-size: rem(32px);
}

.speakers-lightning-title {
	font-size: rem(28px);
}

.speakers {
	&:first-of-type {
		margin-top: rem(50px);
	}
}

@keyframes left-slide {
	from {
		left: -100%;
	}

	to {
		left: auto;
	}
}


@keyframes right-slide {
	from {
		right: -100%;
	}

	to {
		right: auto;
	}
}


.speaker {
	margin: rem(10px) 0;
	overflow: hidden;
	position: relative;
	text-align: center;

	@include mq(sm) {
		background-color: $colour--blue-dark;
		border-radius: rem(4px);
	}

	// .cssanimations &.left,
	// .cssanimations &.right {
	// 	animation-duration: 3s;
	// 	animation-timing-function: ease-in-out;
	// 	animation-iteration-count: infinite;
	// }

	// .cssanimations &.left {
	// 	animation-name: left-slide;
	// }

	// .cssanimations &.right {
	// 	animation-name: right-slide;
	// }

	h4 {
		a {
			color: $colour--blue-light;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.speaker-avatar,
.speaker-bio {
	@include mq(sm) {
		max-width: 50%;
		width: 100%;
	}
}

.speaker-avatar {
	border-radius: rem(4px);

	@include mq(sm) {
		border-radius: none;
		float: left;
	}
}

.speaker-bio {
	margin: auto;
	padding: rem(15px);

	@include mq(xs) {
		padding: 7.25% rem(15px) rem(15px);
	}

	@include mq(sm) {
		float: right;
	}

	@include mq(sm-to-md) {
		padding-top: 8%;
	}
}

.speaker-name {
	color: $colour--blue-light;
	font-size: rem(22px);
	font-weight: 400;
	letter-spacing: 1.5px;
	line-height: 1.25;
	margin: 0;
	text-transform: uppercase;

	@include mq(sm-to-md) {
		font-size: rem(25px);
	}

	@include mq(md) {
		font-size: rem(28px);
	}

	span {
		@include mq(xs) {
			display: block;
		}
	}
}

.speaker-title,
.speaker-twitter {
	font-size: rem(16px);
	line-height: 1.25;
	margin: rem(5px) 0;

	@include mq(xs) {
		margin: rem(10px) 0;
	}

	@include mq(sm-to-md) {
		font-size: rem(17px);
	}

	@include mq(md) {
		font-size: rem(18px);
	}
}

.speaker-title {
	span {
		@include mq(xs) {
			display: block;
		}
	}
}

.speaker-twitter {
	font-weight: 400;

	a {
		color: $colour--yellow;
		text-decoration: none;

		@include on-event {
			color: $colour--blue-light;
		}
	}
}

// Section - Workshops
.section-workshops-wrapper {
	border-top: 0;
}

.section-workshops-content {
	padding-top: rem(20px);
}

.workshops-headline-title,
.workshops-lightning-title {
	@include narrow;
	letter-spacing: 3px;
	margin-bottom: rem(20px);
	margin-top: rem(50px);
	text-align: center;
	text-transform: uppercase;
}

.workshops-headline-title {
	font-size: rem(32px);
}

.workshops-lightning-title {
	font-size: rem(28px);
}

.workshops {
	&:first-of-type {
		margin-top: rem(50px);
	}
}

.workshop {
	margin: rem(10px) 0;
	overflow: hidden;
	position: relative;
	text-align: center;

	// @include mq(sm) {
	background-color: $colour--blue-dark;
	border-radius: rem(4px);
	// }
	padding: 40px;

	@include mq(sm) {
		padding: 0px;
	}

	.cta {
		margin-bottom: 0;
		margin-top: rem(40px);
	}

	.schedule-description {
		.schedule-talk-title {
			color: $colour--yellow;
		}

		h4 {
			text-transform: uppercase;
			color: $colour--yellow;
			font-size: rem(16px);
			font-weight: bolder;
			letter-spacing: 0.5px;
			line-height: 1.4;
			margin-bottom: 0;

			@include mq(xs) {
				font-size: rem(20px);
				line-height: 1.5;
			}

			&:last-child {
				margin-bottom: rem(22px);
			}

			&.smaller {
				font-size: rem(10px);

				@include mq(xs) {
					font-size: rem(14px);
					line-height: 1.2;
				}
			}
		}
	}

	// .cssanimations &.left,
	// .cssanimations &.right {
	// 	animation-duration: 3s;
	// 	animation-timing-function: ease-in-out;
	// 	animation-iteration-count: infinite;
	// }

	// .cssanimations &.left {
	// 	animation-name: left-slide;
	// }

	// .cssanimations &.right {
	// 	animation-name: right-slide;
	// }

	h4 {
		a {
			color: $colour--blue-light;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.workshop-avatar,
.workshop-bio {
	@include mq(sm) {
		max-width: 50%;
		width: 100%;
	}
}

.workshop-avatar {
	border-radius: rem(4px);

	@include mq(sm) {
		border-radius: none;
		float: left;
	}
}

.workshop-bio {
	margin: auto;
	padding: rem(15px);

	@include mq(xs) {
		padding: 7.25% rem(15px) rem(15px);
	}

	@include mq(sm) {
		float: right;
	}

	@include mq(sm-to-md) {
		padding-top: 8%;
	}
}

.workshop-name {
	color: $colour--blue-light;
	font-size: rem(22px);
	font-weight: 400;
	letter-spacing: 1.5px;
	line-height: 1.25;
	margin: 0;
	text-transform: uppercase;

	@include mq(sm-to-md) {
		font-size: rem(25px);
	}

	@include mq(md) {
		font-size: rem(28px);
	}

	span {
		@include mq(xs) {
			display: block;
		}
	}
}

.workshop-title,
.workshop-twitter {
	font-size: rem(16px);
	line-height: 1.25;
	margin: rem(5px) 0;

	@include mq(xs) {
		margin: rem(10px) 0;
	}

	@include mq(sm-to-md) {
		font-size: rem(17px);
	}

	@include mq(md) {
		font-size: rem(18px);
	}
}

.workshop-title {
	span {
		@include mq(xs) {
			display: block;
		}
	}
}

.workshop-twitter {
	font-weight: 400;

	a {
		color: $colour--yellow;
		text-decoration: none;

		@include on-event {
			color: $colour--blue-light;
		}
	}
}

// Section - Schedule
.schedule-table {
	@include fen-row;
	margin-top: rem(30px);

	@include mq(sm) {
		margin-top: rem(50px);
		padding: 0;
	}

	.row {
		border-bottom: 1px solid #ccc;
		padding: 0 0 rem(20px);

		@include mq(sm) {
			padding: 0;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.row.wip {
		background-color: #eee;
	}

	p {
		padding: 0;
	}
}

.schedule-time,
.schedule-description {
	text-align: left;

	@include mq(sm) {
		padding: rem(30px) rem(20px);
	}

	> :first-child {
		@include mq(sm) {
			margin-top: 0;
		}
	}

	ul {
		li {
			font-size: rem(16px);
			font-weight: 200;
			letter-spacing: 0.5px;
			line-height: 1.4;
			margin-bottom: 0;

			@include mq(xs) {
				font-size: rem(20px);
				line-height: 1.5;
			}

			&:last-child {
				margin-bottom: rem(22px);
			}

			&.smaller {
				font-size: rem(10px);

				@include mq(xs) {
					font-size: rem(14px);
					line-height: 1.2;
				}
			}
		}
	}
}

.schedule-time {
	font-style: italic;
	padding-right: 0;
	text-align: center;

	@include mq(sm) {
		text-align: left;
	}

	p {
		font-weight: 400;
	}
}

.schedule-talk-title {
	font-size: rem(24px);
	font-weight: 700;
	letter-spacing: 1.5px;
	margin-bottom: rem(10px);
	margin-top: rem(20px);
	text-transform: uppercase;

	@include mq(sm) {
		margin-top: 0;
	}
}

.schedule-talk-description {
	margin-top: 0;
}

// Section - Location
.section-location-content {
	padding-top: 0;
}

.venue-carousel {
	margin-bottom: rem(50px);

	@include mq(sm) {
		margin-bottom: rem(50px);
	}
}

.map {
	height: reme(500px);
	margin-bottom: rem(30px);
	margin-top: rem(30px);
	overflow: hidden;
	width: 100%;

	@include mq(sm) {
		margin-bottom: rem(50px);
		margin-top: rem(50px);
	}
}

#gmap_canvas {
	height: rem(500px);
	max-width: 100%;
	width: 100%;
}

.gm-style-iw {
	color: $colour--blue-dark;
}

// Section - Social
.arches-bar {
	margin-top: rem(30px);

	@include mq(sm) {
		margin-top: rem(50px);
	}
}

.the-social {
	margin-bottom: rem(30px);

	@include mq(sm) {
		margin-bottom: rem(50px);
	}
}

// Section Benefits
.benefits {
	margin-bottom: rem(30px);
	margin-top: rem(30px);

	@include mq(sm) {
		margin-bottom: rem(50px);
		margin-top: rem(50px);
	}
}

.benefit {
	background-color: $colour--blue-dark;
	border-radius: rem(4px);
	margin-top: rem(20px);
	padding: rem(20px);

	&:first-child {
		// margin-top: 0;

	}

	&:nth-child(2n) {
		@include omega;

		@include mq(md) {
			@include span-columns(3);
		}
	}

	@include mq(sm) {
		margin: rem(10px) 0;
	}

	@include mq(md) {
		margin: 0;
	}
}

.benefit-icon {
	display: block;
	fill: $colour--blue-light;
	margin: 0 auto;
}

.benefit-title {
	font-size: rem(24px);
	font-weight: 400;
	letter-spacing: 1.5px;
	line-height: 1.25;
	margin: 0 0 rem(20px);
	text-align: center;
	text-transform: uppercase;

	span {
		@include mq(sm) {
			display: block;
		}
	}
}

.benefit-description {
	font-size: rem(18px);
	text-align: center;

	@include mq(sm) {
		text-align: left;
	}
}

// Section - Tickets
.tickets {
	margin-bottom: rem(30px);
	margin-top: rem(30px);

	@include mq(sm) {
		margin-bottom: rem(50px);
		margin-top: rem(50px);
	}
}

.ticket {
	background-color: $colour--blue-dark;
	border-radius: rem(4px);
	color: $colour--white;
	margin-top: rem(20px);
	padding-top: rem(30px);
	padding-bottom: rem(30px);
	padding-left: rem(20px);
	padding-right: rem(20px);
	text-align: center;

	&:first-child {
		margin-top: 0;
	}

	@include mq(sm) {
		margin-top: 0;
	}

	.ticket-cta {
		margin-bottom: 0;
		margin-top: rem(10px);
	}
}

.ticket-type,
.ticket-price {
	line-height: 100%;
}

.ticket-type {
	font-size: rem(32px);
	letter-spacing: 3px;
	margin: 0;
	text-transform: uppercase;

	@include mq(md) {
		font-size: rem(36px);
	}
}

.ticket-price {
	color: $colour--blue-light;
	font-size: rem(48px);
	letter-spacing: 1px;
	margin: rem(10px) 0;

	sup {
		font-size: rem(16px);
		top: -1.25em;
	}
}

.ticket-description {
	font-size: rem(18px);
	line-height: 1.25;
	margin-bottom: rem(18px) !important;
	margin-top: 0;
}

.ticket-cta {
	margin-bottom: rem(5px);
	margin-top: rem(10px);
}

// Section - Sponsors
.sponsors {
	margin-top: rem(50px);
	text-align: center;
}

.sponsor-logo {
	padding: rem(10px);

	&.placeholder {
		border-radius: rem(4px);
	}
}

.sponsor-tier {
	margin-bottom: rem(30px);
	margin-top: rem(30px);
}

.sponsor-tier-name {
	letter-spacing: 3px;
	margin: rem(20px) 0;
	text-transform: uppercase;

	&.steel {
		font-size: rem(32px);
	}

	&.iron {
		font-size: rem(28px);
	}

	&.aluminium {
		font-size: rem(24px);
	}
}

.sponsors-email {
	margin-bottom: rem(50px);
}

// Footer
.footer-wrapper {
	background: $colour--blue-dark;
}

footer {
	font-weight: 200;
	padding-bottom: rem(40px);
	padding-top: rem(20px);
	text-align: center;

	a {
		color: $colour--yellow;
		font-weight: 400;
		// text-decoration: none;

		@include on-event {
			color: $colour--blue-light;
		}
	}

	p {
		font-size: rem(16px);
		margin-bottom: 0;
		margin-top: rem(15px);
		text-align: center;

		span {
			color: $colour--blue-light;
			font-weight: 700;
		}
	}

	.sep {
		display: none;

		@include mq(xs) {
			display: inline;
		}
	}
}

.copyright {
	display: block;

	@include mq(xs) {
		display: inline;
	}
}

.social-media {
	@include reset-list(true);
	display: inline-block;
	height: rem(36px);
	margin-top: rem(8px);

	li {
		display: inline-block;
		margin: 0 rem(10px);

		@include mq(md) {
			margin: 0 0 0 rem(10px);
		}
	}

	svg {
		fill: $colour--yellow;
		transition: fill ease-in-out 0.3s;
	}

	a {
		display: block;
		height: rem(36px);
		width: rem(36px);

		@include on-event {
			svg {
				fill: $colour--blue-light;
			}
		}
	}
}

// components

.text-center {
	text-align: center;
}

#gmap_canvas img {
	max-width: none !important;
	background: none !important;
}
